/* 
  تنظیمات عمومی و پایه‌ای برای تمام عناصر
*/
* {
  box-sizing: border-box; /* تنظیم box-sizing برای همه عناصر به border-box به‌منظور مدیریت بهتر حاشیه‌ها و پدینگ */
  padding: 0; /* حذف پدینگ پیش‌فرض همه عناصر */
  margin: 0; /* حذف مارجین پیش‌فرض همه عناصر */
  font-weight: 200; /* تنظیم وزن فونت پیش‌فرض به مقدار سبک (200) برای تمامی عناصر */
}

/* 
  تنظیمات کلی برای عناصر HTML و body
*/
html,
body {
  max-width: 1200px; /* محدود کردن عرض صفحه به حداکثر 1200 پیکسل */
  overflow-x: hidden; /* جلوگیری از اسکرول افقی در صفحه */
  margin: auto; /* تنظیم موقعیت صفحه در مرکز با استفاده از margin */
  padding: 0 10px; /* ایجاد فاصله 10 پیکسلی از لبه‌های چپ و راست برای محتوای صفحه */
}

/* 
  تنظیمات عمومی برای لینک‌ها
*/
a {
  color: inherit; /* استفاده از رنگ متن والد برای لینک‌ها */
  text-decoration: none; /* حذف خط زیر لینک‌ها */
  cursor: pointer; /* تنظیم نشانگر ماوس به حالت pointer برای لینک‌ها */
}

/* 
  تنظیمات عمومی برای دکمه‌ها، ورودی‌ها و تکست‌اریا‌ها
*/
button,
input,
textarea {
  font-family: inherit; /* استفاده از فونت والد برای این عناصر */
}
